<template>
    <div>
        <h2 class="counter">{{counter}}</h2>
        <div class="actions">
            <div class="actions-inner">
                <v-btn fab dark color="indigo" @click="decrement">
                    <v-icon dark>remove</v-icon>
                </v-btn>
                <v-btn fab dark color="indigo" @click="reset">
                    <v-icon dark>exposure_zero</v-icon>
                </v-btn>
                <v-btn fab dark color="indigo" @click="increment">
                    <v-icon dark>add</v-icon>
                </v-btn>
            </div>
        </div>
        <div>
            <v-btn :to="{name: 'Home'}">Home</v-btn>
            <v-btn :to="{name: 'Movie'}">Demo Axios + Vuex</v-btn>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
    name: "home",
    data() {
        return {
        
        };
    },
    created: function() {
        // console.log(this)
    },
    computed: {
        ...mapState({
            counter: state => state.counter.number
        })
    },
    methods: {
        ...mapActions('counter', {
            increment: 'increment',
            decrement: 'decrement',
            reset: 'reset'
        })
    }
};
</script>

<style scoped>
    .counter {
        font-size: 50px;
        margin-bottom: 30px;
        font-family: 'Orbitron';
    }
</style>