<template>
    <div>
        <h2 class="counter">{{movie.title}}</h2>
        <h2 class="counter">{{ counter }}</h2>
        <v-btn color="indigo" @click="getMovie()" class="btn-api">Call api</v-btn>
        <v-btn color="indigo" @click="clear()" class="btn-api">Clear</v-btn>
        <div>
            <v-btn :to="{name: 'Home'}">Home</v-btn>
            <v-btn :to="{name: 'Counter'}">Demo Vuex</v-btn>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    name: "movie",
    data() {
        return {
        
        };
    },
    created: function() {
        // console.log(this)
    },
    computed: {
        ...mapState({
            movie: state => state.movie.dataMovies,
            counter: state => state.counter.number
        })
    },
    methods: {
        ...mapActions('movie', {
            getMovie: 'getMovie',
            clear: 'clear'
        })
    }
};
</script>

<style scoped>
    .counter {
        font-size: 50px;
        margin-bottom: 30px;
        font-family: 'Orbitron';
    }
    .btn-api {
        color: #ffffff
    }
</style>