<template>
    <v-app id="inspire">
        <!-- <Menu/> -->
        <div>
            <img src="./assets/logo.png" style="margin: auto; display: block">
            <v-content>
                <v-container style="text-align: center;">
                    <router-view/>
                </v-container>
            </v-content>
        </div>
        
    </v-app>
</template>

<script>
    export default {
        name: 'App',
        components: {
            
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
